/* .image{
    height: 100px;
}
table,tr,td{
    border: 10px solid grey;
}

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,#125353,white,rgb(16, 89, 92));
} */
body{
    background-color: black;
}